@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Kalam');

*{
	margin: 0;
	padding: 0;
	
}

body{
	background: url("background.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;

}

#content{
	margin-top: 1.5%;
}

footer{
	text-align:center;
	color:white;
	font-family: 'Pacifico', cursive;
	margin-top: 20px;
}
/* HOMEPAGE START */
#container{
	color: #EEE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
	width: 80%;

}

#header, #advice{
	font-family: 'Pacifico', cursive;
    margin: 2%;
    font-size:28px;
}

#header{
	margin-top: -10px;
}

#advice{
	color: #001e33;
}

#countryNameTF{
	padding: 9px;
	border-style: double;
	font-family: 'Kalam', cursive;
	font-size: 25px;
	text-align: center;
}

#redirectingButton{
	width: 200px;
	margin: 5% auto;
	padding: 10px 13px;
	cursor: pointer;
 	text-decoration: none;
  	outline: none;
  	color: black;
 	background-color: #FFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    font-size: 13px;
}

.homepageFooter{
	color: black;
}
/* HOMEPAGE END */
/* COUNTRY PAGE START*/

.headPanel{
	background: rgba(0,0,0,0.5);
	border-radius: 30px;
	border: 5px solid white;
	margin: 2% 0;
	color:white;
	padding: 2%;
}


.mainPanel{
	background: rgba(0,0,0,0.5);
	border-radius: 15px;
	border: 3px solid white;
	color:white;
	padding: 1%;
	margin: 1.5%;
}

.panel-heading{
	border-bottom: 1px solid white;
	padding: 4px;
}

.panel-body{
	padding: 10px;
}

#emblem{
	height: 90px;
	margin: 0 1.7% ;
}

#flag{
	height: 150px;
	border-radius: 5px;
}

.neighbour{
	cursor:pointer;
	border-radius: 5px;
	width: 100%;
	height:100px;
}

#HudHider{
	cursor:pointer;
	border-radius: 5px;
	margin:5px;
	margin-top: 7px;
}

.neighbour:hover, #HudHider:hover{
	background-color: rgba(200, 200, 200, 0.5);

}

.neighEmblemDiv{
	width: 120px;
	height: 100px;
	float:left;
	text-align:center;
}

.neighbourEmblem{
	height: 60px;
	margin: 20px;
}

.neighbourName{
	font-size: 25px;
	text-decoration: none !important;
	color: #EEE;
   	height: 100px;
    display: flex;
	justify-content: center;
	flex-direction: column;

}


	
/*COUNTRY PAGE END */


