@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Kalam');

*{
	margin: 0;
	padding: 0;
	
}

body{
	background: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%
}

/* HOMEPAGE START */
#container{
	color: #EEE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center

}

#header, #advice{
	font-family: 'Pacifico', cursive;
   /* font-size: 2vw;*/
    font-size: 28px;
    margin: 2%;
}


#advice{
	color: #001e33;
}

#countryNameTF{
	padding: 9px;
	border-style: double;
	font-family: 'Kalam', cursive;
	font-size: 25px;
}

#redirectingButton{
	width: 140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 9px 13px;
	cursor: pointer;
 	text-decoration: none;
  	outline: none;
  	color: black;
 	background-color: #FFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}
/* HOMEPAGE END */